{% autoescape false %}
{% if collecting is defined and collecting %}
{% for facts in collecting %}{{ facts }}
{% endfor %}
{% endif %}
{% if system is defined and system %}
{% for resources in system %}{{ resources }}
{% endfor %}
{% endif %}
{% endautoescape %}

{% for result in servicestatus.results %}
Service: {{ result.item }}
State:   {{ ansible_facts.services['{{ server_facts.services }}.service'].state }} 
{% endfor %}