#jinja2: lstrip_blocks: "True", trim_blocks: "True"
<div>
        The hostname of this machine {{  inventory_hostname  }} <br> 
        ip addresses of the machine: {{ ansible_facts['all_ipv4_addresses'] }} <br> 
        architecture  {{ ansible_facts['architecture'] }} <br> 
        kernel version {{ ansible_facts['kernel'] }} <br> 
</div>

