

{% set user_list = ['inventory_hostname'], 'ansible_facts['all_ipv4_addresses'], 'ansible_facts['architecture'], 'ansible_facts['kernel']'] %}

{% for user in user_list %}
    {{ user }}
{% endfor %}
