The hostname of this machine {{  inventory_hostname  }}
The hostname of this machine {{  inventory_hostname  }}
The hostname of this machine {{  inventory_hostname  }}
The hostname of this machine {{  inventory_hostname  }}
